﻿<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/content/site.css"/>
    <link rel="icon" href="~/content/images/Childish-Tag.ico"/>

    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script src="~/scripts/jquery-2.1.1.js"></script>
    <script src="~/scripts/jquery-2.1.1.min.js"></script>
</head>
<body>

    @Html.Hidden("8OfItem", 0)
    <header>
        <div class="content-wrapper">
            <p class="site-title">
                <a href="/Home/Index"><img src="/content/images/logo.png" style="height:100px; width:100px; margin-left: 25px" /> </a>
            </p>
            <section id="login">
                @Html.Partial("_LoginPartial")
            </section>
        </div>
    </header>
    <nav>
        @{ var sessionUser = (MVC.Models.Customer)HttpContext.Current.Session["userLogged"];
            var shoppingList = (List<int>)HttpContext.Current.Session["shoppingList"]; }

        <ul id="menu">
            <li> @Html.ActionLink("קטלוג", "index", "catalog") </li>
            <li>
                @Html.ActionLink("סל קניות שלי", "index", "ShoppingBag")
                <label id="countOfProducts" style="display:inline"> (@shoppingList.Count)</label>
            </li>
            <li> @Html.ActionLink("סניפים", "index", "branch") </li>

            @if (sessionUser != null && sessionUser.IsAdmin)
            {
                <li> @Html.ActionLink("לקוחות", "index", "Customer") </li>
            }

            <li> @Html.ActionLink("אודות", "About", "Home") </li>
        </ul>
    </nav>

    <section id="site-body">
        <div class="content-wrapper main-content clear-fix">
            @RenderBody()
        </div>
    </section>
    <footer>
        <div id="allRights">© נועה סגל, אופיר תדמור ועוז בובליל</div>

    </footer>

    @RenderSection("scripts", required: false)
</body>

</html>
