﻿
@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .bar {
        fill: cornflowerblue;
    }

        .bar:hover {
            fill: lightcoral;
        }

    .x.axis path {
        display: block;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

        /* Creates a small triangle extender for the tooltip */
        .d3-tip:after {
            box-sizing: border-box;
            display: inline;
            font-size: 10px;
            width: 100%;
            line-height: 1;
            color: rgba(0, 0, 0, 0.8);
            content: "\25BC";
            position: absolute;
            text-align: center;
        }

        /* Style northward tooltips differently */
        .d3-tip.n:after {
            margin: -1px 0 0 0;
            top: 100%;
            left: 0;
        }
</style>
<div style="display:inline-block">
    <h4 style="display:block">פילוח הסניפים:</h4>
    <div id="ChartBranches" style="display:inline-block"></div>
</div>
<div style="display:inline-block; padding-right:100px">
    <h4 style="display:block">פילוח הלקוחות:</h4>
    <div id="ChartCostumers"></div>
</div>
<!--
<div style="display:inline-block; padding-top:30px">
    <h4 style="display:block">פילוח הזמנות:</h4>
    <div id="ChartOrders"></div>
</div>
    -->
@section Scripts {

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>


    <script type="text/javascript">


        var margin = { top: 40, right: 20, bottom: 30, left: 40 },
            width = 480 - margin.left - margin.right,
            height = 250 - margin.top - margin.bottom;

        var formatPercent = d3.format(".0");

        var x = d3.scale.ordinal()
            .rangeRoundBands([0, width], .1);

        var y = d3.scale.linear()
            .range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .tickFormat(formatPercent)
            .tickPadding(20);

        var Branchtip = d3.tip()
            .attr('class', 'd3-tip')
            .offset([-10, 0])
            .html(function (d) {
                return "<strong>כמות הסניפים:</strong> <span style='color:red'>" + d.y + "</span>";
            });



        var databranch =  @Html.Raw(ViewBag.BranchesDataPoints);


        x.domain(databranch.map(function (d) { return d.label; }));
        y.domain([0, d3.max(databranch, function (d) { return d.y; })]);


        var svg = d3.select("#ChartBranches").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svg.call(Branchtip);

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end");

        svg.selectAll(".bar")
            .data(databranch)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function (d) { return x(d.label); })
            .attr("width", x.rangeBand())
            .attr("y", function (d) { return y(d.y); })
            .attr("height", function (d) { return height - y(d.y); })
            .on('mouseover', Branchtip.show)
            .on('mouseout', Branchtip.hide);




        var Costumertip = d3.tip()
            .attr('class', 'd3-tip')
            .offset([-10, 0])
            .html(function (d) {
                return "<strong>כמות הלקוחות:</strong> <span style='color:red'>" + d.y + "</span>";
            });



        var dataCostumer =  @Html.Raw(ViewBag.CostumersDataPoints);

            x.domain(dataCostumer.map(function (d) { return d.label; }));
            y.domain([0, d3.max(dataCostumer, function (d) { return d.y; })]);


        var svgCostumertip = d3.select("#ChartCostumers").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svgCostumertip.call(Costumertip);

        svgCostumertip.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        svgCostumertip.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end");

        svgCostumertip.selectAll(".bar")
            .data(dataCostumer)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function (d) { return x(d.label); })
            .attr("width", x.rangeBand())
            .attr("y", function (d) { return y(d.y); })
            .attr("height", function (d) { return height - y(d.y); })
            .on('mouseover', Costumertip.show)
            .on('mouseout', Costumertip.hide);


/*

        var Orderstip = d3.tip()
            .attr('class', 'd3-tip')
            .offset([-10, 0])
            .html(function (d) {
                return "<strong>כמות ההזמנות:</strong> <span style='color:red'>" + d.y + "</span>";
            });



            var dataOrders =  Html.Raw((ViewBag.OredersDataPoints));

            x.domain(dataOrders.map(function (d) { return d.label; }));
            y.domain([0, d3.max(dataOrders, function (d) { return d.y; })]);

            var svgOrders = d3.select("#ChartOrders").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            svgOrders.call(Orderstip);

            svgOrders.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

            svgOrders.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end");

            svgOrders.selectAll(".bar")
                .data(dataOrders)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function (d) { return x(d.label); })
            .attr("width", x.rangeBand())
            .attr("y", function (d) { return y(d.y); })
            .attr("height", function (d) { return height - y(d.y); })
            .on('mouseover', Costumertip.show)
            .on('mouseout', Costumertip.hide);
            */



    </script>
}



