﻿@model IEnumerable<MVC.Models.Branch>

@{
    ViewBag.Title = "N&O&O - רשימת סניפים";
}

@section scripts {

    <script type="text/javascript">
        $('[id^=delete_]').click(function () {

            var branch = $(this).parent().parent();
            var id = $(this).attr("id").split("_")[1];

            if (confirm("האם אתה בטוח שברצונך למחוק?") == true) {

                $.ajax({
                    url: '/Branch/Delete',
                    type: 'Post',
                    dataType: 'Json',
                    data: { id: id },
                    success: (function (result) {
                        $(branch).hide(500);
                    }),
                    error: (function (xhr, status) {
                        alert(status);
                    })
                });
            }
        });

        $(".searchImg").click(function () {
            if ($(".searchBar").hasClass("closed")) {
                $(".searchBar").show();
                $(".searchBar").removeClass("closed");
                $(".searchBar").addClass("open");
            }
            else {
                $(".searchBar").hide();
                $(".searchBar").removeClass("open");
                $(".searchBar").addClass("closed");
            }

        });

    </script>
}
<h2>רשימת סניפים</h2>


@{var sessionUser = (MVC.Models.Customer)HttpContext.Current.Session["userLogged"];}
@if (sessionUser != null && sessionUser.IsAdmin)
{
    <p>
        @Html.ActionLink("הוסף סניף חדש", "Create")
        @Html.ActionLink("ניהול פיזור סניפים", "Chart")
    </p>
}

@using (Html.BeginForm("Index", "Branch", FormMethod.Post))
{
    <div class="searchImg">
        <label>לחיפוש . . .</label>
    </div>
    <div class="searchBar closed" style="display:none">
        <div style="display: flex">
            <div style="margin-left: 30px;">
                <label>הזן שם סניף :</label>
                <input name="txt" value="" style="width: 150px;" />
            </div>
            <div>
                <label>או</label>
                @Html.DropDownList("BranchID", null, "בחר סניף", new { style = "width:200px; margin-left:30px;" })
            </div>
            <div>
                <label>חיפוש לפי עיר:</label>
                @Html.DropDownList("City", null, "בחר עיר", new { style = "width:200px; margin-left:30px;" })
            </div>
            <input type="submit" value="סנן" style="margin-top: 30px;" />
        </div>
    </div>
}


<div class="fullTable">
    @foreach (var item in Model)
    {
        <div id="branch#@item.BranchID" class="branchDetails">
            <label class="brname">@item.Name</label>
            <label>@item.Street @item.HouseNo , @item.City</label>
            <label>@item.PhoneNo</label>

            @Html.Hidden("coorX", item.CoorX)
            @Html.Hidden("coorY", item.CoorY)
            @if (sessionUser != null && sessionUser.IsAdmin)
            {
                <div style="display:table-cell">
                    @Html.ActionLink("ערוך", "Edit", new { id = item.BranchID }) |
                    <img src="~/content/images/delete.png" id="delete_@item.BranchID" class="deleteBranch" title="מחיקת סניף" />
                </div>
            }
        </div>
    }
</div>

<div id="customersMap" style="height: 600px;width: 600px;margin: auto;"></div>
<script>
    function initMap() {
        var mapOptions = {
            zoom: 7,
            center: new google.maps.LatLng(31.9228112, 34.9718815)
        };
        var map = new google.maps.Map($('#customersMap')[0], mapOptions);

        @foreach (var branch in Model)
        {
            <text>
            $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=@branch.Street,@branch.City&sensor=false', null, function (data) {
                var custLocation = data.results[0].geometry.location;
                var custMarker = new google.maps.Marker({
                    position: new google.maps.LatLng(custLocation.lat, custLocation.lng),
                    map: map
                });

                var markerContent = '<div class="markerContent">@branch.Name</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: markerContent
                });

                custMarker.addListener('click', function () {
                    infowindow.open(map, custMarker);
                });
            });
            </text>
        }
    }
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWBqFys-8rdAyBvJ5yZI2KFZfcbVzJU8Q&callback=initMap"></script>
