﻿@{
    ViewBag.Title = "N&O&O - אודות";
}

<h2>אודות</h2>
<p id="aboutText">
    !נו N&O&O היא חנות בגדים וירטואלית המדברת לכל גבר ואישה שעבורם אופנה היא אחת מאבני היסוד של החיים אתר זה הוקם בשיתוף פעולה בין החברות עוז גינסים, אופיר נעליים ונועה שמלות ערב.. 
    לאחר ההקמה זכה לשמו שהוא שילוב בין התחיליות של כל מודג.
   אתר זה מבובסס על הטכנולוגיות המתקדמות בעולם. אנו צופים סערה וריגוש בעת הפצתו לעולם.
    ומאחלים לכל הלקוחות שימצאו את מבוקשם, תהנו!
</p>

<div style="width:470px; align-content:center">
    <video controls="controls" autoplay>
        <source src="~/content/video/HOODIES_WINTER_COLLECTION.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
    </video>
    <aside>פרסומת של הודיס</aside>
</div>