﻿@model MVC.Models.Customer

@{
    ViewBag.Title = "N&O&O - התחברות";
}

<h2>התחברות</h2>

<section id="loginForm">
    <h2>אנא מלא את פרטייך:</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div>
                <div>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <input type="submit" value="התחבר" /><span class="error">@ViewBag.ErrorMsg</span> 
        <p>
             אין לך חשבון? @Html.ActionLink("הירשם", "Create") 
        </p>
    }
</section>

@section Scripts {
    <script src="~/scripts/jquery.validate.js"></script>
}
